<div class='row'>
  <div class='col-md-4'>
    <pm-product-list
      [errorMessage]="errorMessage$ | async"
      [displayCode]="displayCode$ | async"
      [products]="products$ | async"
      [selectedProduct]="selectedProduct$ | async"
      (checked)="checkChanged($event)"
      (initializeNewProduct)="newProduct()"
      (selected)="productSelected($event)"
      ></pm-product-list>
  </div>
  <div class='col-md-8'>
    <pm-product-edit
      [errorMessage]="errorMessage$ | async"
      [product]="selectedProduct$ | async"
      (createProduct)="createProduct($event)"
      (updateProduct)="updateProduct($event)"
      (deleteProduct)="deleteProduct($event)"
      (clearProduct)="clearProduct()"
    ></pm-product-edit>
  </div>
</div>